D4BRNA_1006/ember.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="ember">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nev1" type="xs:ID"></xs:element>
                <xs:element name="fizetes" type="xs:integer"></xs:element>
                <xs:element name="nev" type="xs:string"></xs:element>
            </xs:sequence>
        </xs:complexType>     
    </xs:element>
</xs:schema>
